/* start global setting */
:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --secondary-color:#ececec;
    --main-transition: 0.3s;
    --border-color: #e9e6e6;
    --section-padding: 100px;
    --footer-color: #b9b9b9;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0 ;
    text-decoration: none;
    z-index: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
    z-index: 0;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px) {
    .container{
        width:750px;
    }
}
@media (min-width:992px) {
    .container{
        width:970px;
    }
}
@media (min-width:1200px) {
    .container{
        width:1170px;
    }
}
.main-title{
    margin: 0 auto 80px;
    border: 2px solid black;
    width: fit-content;
    padding: 10px 20px;
    z-index: 1;
    position: relative;
    transition: var(--main-transition);
}
.main-title::before,
.main-title::after{
    content: '';
    background: var(--main-color);
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before{
    left: -30px;
}
.main-title::after{
    right: -30px;
}
.main-title:hover::before{
    z-index: -1;
    animation: left-move .5s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move .5s linear forwards;
}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: .5s;
}
.spikes{
    position: relative;
}
.spikes::before{
    content: '';
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(315deg, var(--secondary-color) 25%, transparent 25%),
     linear-gradient(45deg, var(--secondary-color) 25%, transparent 25%);
    background-size: 30px 30px;
}
/* end global setting */
/* start heading */
.heading{
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #ddd;    /*shadow down*/
    -webkit-box-shadow: 0 0 10px #ddd;    
    -moz-box-shadow: 0 0 10px #ddd;
}
.heading .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.heading .container .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
}
@media (max-width:992px) {
    .heading .container .logo{
        width: 100%;
        height: 40px;
        margin-top: 10px;
    }
}
.heading .container .logo a{
    font-size: 28px;
    font-weight: bold;
    color: var(--main-color);
}
.heading .container .sections{
    display: flex;
}
@media (max-width:992px) {
    .heading .container .sections{
        margin: auto;
    }
}
.heading .container .sections > li:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}
.heading .container .sections > li > a{
    padding: 0 30px;
    color: black;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
}
@media (max-width:992px) {
    .heading .container .sections > li > a{
        padding: 0 40px;
    }
}
.heading .container .sections > li > a::before{
    content: '';
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: -100%;
    height: 4px;
    width: 100%;
    transition: var(--main-transition);
}
.heading .container .sections > li > a:hover{
    background-color: #fafafa;
    color: var(--main-color);
}
.heading .container .sections > li > a:hover::before{
    left: 0;
}
.heading .mega-menu{
    position:absolute;
    width: 100%;
    left: 0;
    top: calc(100% + 50px);
    padding: 30px;
    background-color: white;
    z-index: -1;
    display: flex;
    gap: 40px;
    border-bottom: 3px solid var(--main-color);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width:991px) {
    .heading .mega-menu{
        flex-direction: column;
        padding: 5px;
        gap: 0;
    }
}
.heading .mega-menu .image img{
    max-width: 100%;
    width: 300px;
    border-radius: 40%;
}
@media (max-width:991px) {
    .heading .mega-menu .image img{
        display: none;
    }
}
.heading .container .mega-menu .links{
    min-width: 240px;
    flex: 1;
}
.heading .container .mega-menu .links li{
    position: relative;
}
.heading .container .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid var(--border-color);
}
@media (max-width:991px) {
    .heading .container .mega-menu .links:first-of-type li:last-child{
        border-bottom: 1px solid var(--border-color);
    }
}
.heading .container .mega-menu .links li::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    transition: var(--main-transition);
    z-index: -1;
}
.heading .container .mega-menu .links li:hover::before{
    width: 100%;
}
.heading .container .mega-menu .links li a{
    display: block;
    padding: 15px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}
.heading .container .mega-menu .links li a i{
    margin-right: 10px;
}
/* end heading */
/* start landing */
.landing{
    position: relative;
}
.landing::before{
    position: absolute;
    content: '';
    background-color: var(--secondary-color);
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container{
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
.landing .text{
    flex: 1;
}
.landing .text h1{
    font-size: 40px;
    letter-spacing: -3px;
}
@media (max-width:991px) {
    .landing .text h1{
        text-align: center;
    }
}
.landing .text p{
    margin: 5px 0 0;
    font-size: 22px;
    line-height: 1.6;
    color: #666;
    max-width: 450px;
}
@media (max-width:991px) {
    .landing .text p{
        margin: 10px auto;
        max-width: 100%;
    }
}
.landing .image img{
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}
@media (max-width:991px) {
    .landing .image img{
        display: none;
    }
}
.landing .go-down{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
    color: var(--main-color);
}
.landing .go-down:hover{
    color: var(--main-color-alt);
}
.landing .go-down i{
    animation: bouncing 1.5s infinite;
}
/* end landing */
/* start articles */
.articles{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.articles .box{
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .box:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.articles .container .box img{
    width: 100%;
    max-width: 100%;
}
.articles .box .content{
    padding: 20px;
}
.articles .box .content p{
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777
}
.articles .box .info{
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box .info a{
    color: var(--main-color);
    font-weight: bold;
}
.articles .box .info i{
    color: var(--main-color);
}
.articles .box:hover .info i{
    animation: moving-arrow .9s linear infinite;
}
/* end articles */
/* start gallery */
.gallery{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--secondary-color);
    position: relative;
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px,1fr));
    gap: 40px;
}
.gallery .box{
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13) , 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.gallery .box .image{
    position: relative;
    overflow: hidden;
}
.gallery .box .image::before{
    content: '';
    background-color: rgba(255, 255, 255, 0.2);
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
}
.gallery .box .image:hover::before{
    animation: flashing 0.7s;
}
.gallery .box .image img{
    max-width: 100%;
    transition: var(--main-transition);
}
.gallery .box .image:hover img{
    transform: rotate(5deg) scale(1.1);
}
/* end gallery */
/* start features */
.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: white;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .box{
    text-align: center;
    border: 1px solid #ccc;
}
.features .box .img-holder{
    position: relative;
    overflow: hidden;
}
.features .box .img-holder::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.features .box .img-holder::after{
    content: '';
    position: absolute;
    border-style: solid;
    bottom: 0;
    right: 0;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .box:hover .img-holder::after{
    border-width: 170px 500px 170px 0px;
}
.features .box .img-holder img{
    max-width: 100%;
}
.features .box h2{
    font-size: 40px;
    position: relative;
    width: fit-content;
    margin: auto;
}
.features .box h2::after{
    content: '';
    position: absolute;
    left: 15px;
    bottom: -20px;
    width: calc(100% - 30px);
    height: 5px;
}
.features .box p{
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}
.features .box a{
    display: block;
    width: fit-content;
    margin: 0 auto 30px;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: bold;
    border: 3px solid transparent;
    border-radius: 6px;
    transition: var(--main-transition);
}
.features .quality .img-holder::before{
    background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after{
    background-color: #f44036;
}
.features .quality a{
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right top;
}
.features .box:hover a{
    background-position: left top;
    color: white;
}
.features .time .img-holder::before{
    background-color: hsla(249, 90%, 58%, 0.6);
}
.features .time h2::after{
    background-color: #5236f4;
}
.features .time a{
    color: #5236f4;
    border-color: #5236f4;
    background: linear-gradient(to right, #5236f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right top;
}
.features .passion .img-holder::before{
    background-color: hsla(120, 90%, 58%, 0.6);
}
.features .passion h2::after{
    background-color: #36f436;
}
.features .passion a{
    color: #36f436;
    border-color: #36f436;
    background: linear-gradient(to right, #36f436 50%, white 50%);
    background-position: right top;
    background-size: 200% 100%;
}
/* end features */
/* start testimonials */
.testimonials{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--secondary-color);
    position: relative;
}
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 40px;
}
.testimonials .box{
    position: relative;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 /7%);
    border-radius: 6px;
}
.testimonials .box img{
    position: absolute;
    width: 100px;
    top: -50px;
    right: -20px;
    border-radius: 50%;
    border: 10px solid var(--secondary-color);
}
.testimonials .box h3{
    margin: 0 0 10px;
    color: var(--main-color);
}
.testimonials .box .title{
    color: #777;
    display: block;
    margin-bottom: 10px;
}
.testimonials .box .rate .filled{
    color: #ffc107;
}
.testimonials .box p{
    line-height: 1.5;
    margin-top: 10px;
    color: #777b77;
    margin-bottom: 0;
}
/* end testimonials */
/* start team */
.team{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;
    position: relative;
}
.team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.team .box{
    position: relative;
}
.team .box::before,
.team .box::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 6px;
    transition: var(--main-transition);
}
.team .box::before{
    background-color: #f3f3f3;
    z-index: -2;
    width: calc(100% - 60px);
}
.team .box::after{
    background-color: #e4e4e4;
    z-index: -1;
    width: 0;
}
.team .box:hover::after{
    width: calc(100% - 60px);
}
.team .box .data{
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .box .data img{
    width: calc(100% - 60px);
    transition: var(--main-transition);
    border-radius: 10px;
}
.team .box:hover img{
    filter: grayscale(100%);
}
.team .box .data .social{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team .box .data .social a{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team .box .data .social i{
    color: #777;
    transition: var(--main-transition);
}
.team .box .data .social a:hover i{
    color: var(--main-color);
}
.team .box .info {
    padding-left: 80px;
}
.team .box .info h3 {
    margin-bottom: 0;
    margin-top: 10px;
    color: var(--main-color);
    transition: var(--main-transition);
    font-size: 22px;
}
.team .box .info p{
    margin: 10px 0 25px;
}
.team .box:hover .info h3{
    color: #777;
}
/* end team */
/* start services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--secondary-color);
    position: relative;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 40px;
}
.services .box{
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 /13%), 0 2px 4px 0 rgb(0 0 0 /12%);
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
}
.services .box::before {
    content: '';
    height: 3px;
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.services .box:hover{
    transform: translateY(-10px);
}
.services .box:hover::before{
    width: 100%;
}
.services .box > i{
    margin: 40px auto;
    display: block;
    text-align: center;
    color: #d5d5d5;
}
.services .box > h3{
    font-size: 22px;
    margin: 20px 0 40px;
    text-align: center;
    color: var(--main-color);
}
.services .box .info{
    padding: 15px;
    background-color: #f9f9f9;
    text-align: right;
    position: relative;
}
.services .box .info::before{
    content: '0' counter(services);
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    padding-right: 15px;
}
.services .box .info::after{
    content: '';
    background-color: #d5d5d5;
    height: 100%;
    position: absolute;
    top: 0;
    left: 80px;
    width: 45px;
    transform: skewX(-30deg);
}
.services .box .info a{
    color: var(--main-color);
}
/* end services */
/* start our skills  */
.skills{
    padding-top:var(--section-padding) ;
    padding-bottom:var(--section-padding) ;
    background-color:white;
}
.skills .container{
    display: flex;
}
.skills .container .image{
    display: flex;
    width: 40%;
    justify-content: right;
}
.skills .container .image img{
    width: 300px;
}
@media (max-width:991px) {
    .skills .container .image{
        display: none;
    }
    .skills .skill{
        flex: 1;
        padding-left:0;
    }
}
.skills .skill{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 55%;
}
.skills .skill .box{
    margin-bottom: 10px;
}
.skills .skill .box h4{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills .skill .box h4 span{
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 0 5px;
    color: var(--main-color);
}
.skills .skill .box .prog{
    height: 30px;
    background-color: #eee;
}
.skills .skill .box .prog span{
    height: 100%;
    display: block;
    background-color: var(--main-color);
}
/* end our skills  */
/* start works */
.works{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}
.works .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.works .container > img{
    width: 600px;
    margin-right: -50px;
}
@media (max-width:991px) {
    .works .container > img{
        display: none;
    }
}
.works .big-box .box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #f3f3f3;
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px solid white;
    position: relative;
}
.works .big-box .box::before{
    content: '';
    position: absolute;
    background-color: #ededed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0px;
    width: 0px;
    transition: var(--main-transition);
}
.works .big-box .box:hover::before{
    width: 100%;
    height: 100%;
}
.works .big-box .box img{
    width: 65px;
    margin-right: 20px;
}
.works .big-box .box .field h3{
    font-size: 22px;
    cursor: default;
}
.works .big-box .box .field p{
    color: #777;
    line-height: 1.5;
    font-size: 18px;
    margin-top: 6px;
    cursor:default;
}
/* end works */
/* start events */
.events{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.events .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.events .container img{
    max-width: 450px;
}
@media (max-width:991px) {
    .events .container img{
        display: none;
    }
}
.events .container .info{
    flex: 1;
}
.events .container .info .time{
    display: flex;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}
.events .container .info .time .unit{
    border: 1px solid #d5d5d5;
    margin: 0 5px;
    width: 75px;
    border-radius: 6px;
    transition: var(--main-transition);
}
.events .container .info .time .unit span{
    display: block;
    text-align: center
}
.events .container .info .time .unit span:first-child{
    font-size: 35px;
    color: var(--main-color);
    font-weight: bold;
}
.events .container .info .time .unit span:last-child{
    border-top: 1px solid #d5d5d5;
    font-size: 12px;
    margin-top: 5px;
    transition: var(--main-transition);
}
.events .container .info .time .unit:hover,
.events .container .info .time .unit:hover span:last-child{
    border-color: var(--main-color);
}
.events .title{
    text-align: center;
    font-size: 30px;
    margin: 30px 0 0;
}
.events .description{
    font-size: 19px;
    line-height: 1.7;
    text-align: center;
    color: #777;
}
.events .container .subscribe{
    width: 100%;
}
.events .subscribe form{
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
.events .subscribe form input[type="email"]{
    padding: 20px;
    border-radius: 50px;
    border-style: none;
    caret-color: var(--main-color);
    flex: 1;
}
.events .subscribe form input[type="email"]:focus{
    outline: none;
}
.events .subscribe form input[type="email"]::placeholder{
    transition: opacity var(--main-transition);
}
.events .subscribe form input[type="email"]:focus::placeholder{
    opacity: 0;
}
.events .subscribe form input[type="submit"]{
    border-radius: 50px;
    padding: 20px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
}
.events .subscribe form input[type="submit"]:hover{
    background-color: var(--main-color-alt);
}
/* end events */
/* start pricing */
.pricing{
    padding-top:var(--section-padding) ;
    padding-bottom:var(--section-padding) ;
    background-color:var(--secondary-color);
    position: relative;
}
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    text-align: center;
}
.pricing .box{
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13) , 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    transition: var(--main-transition);
    z-index: 1;
    position: relative;
    padding: 10px;
}
.pricing .box::before,
.pricing .box::after{
    content: '';
    color: #f6f6f6;
    z-index: -1;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    position: absolute;
    transition: var(--main-transition);
}
.pricing .box::before{
    top: 0;
    left: 0;
}
.pricing .box::after{
    bottom: 0;
    right: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after{
    width: 100%;
}
.pricing .box .title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
.pricing .box i{
    color: var(--main-color);
    font-size: 60px;
}
.pricing .box .amount{
    font-size: 45px;
    font-weight: bold;
    color: var(--main-color);
}
.pricing .box .time{
    font-size: 12px;
    margin-top: -15px;
}
.pricing .box .info li{
    text-align: left;
    padding: 10px 0 20px 40px;
    position: relative;
    border-bottom: 1px solid var(--border-color);
}
.pricing .box .info li::before{
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    margin-right: 10px;
    font-weight: 900;
}
.pricing .box .info li:last-child{
    border-bottom: none;
}
.pricing .box a{
    padding: 10px 20px;
    display: block;
    width: fit-content;
    margin: 0 auto 20px;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    color: var(--main-color);
    font-weight: bold;
}
@media (min-width:1200px) {
    .pricing .box.middle {
        transform: translateY(-20px);
    }
}
.pricing .box.middle .label{
    position: absolute;
    top: 52px;
    right: -23px;
    background-color: var(--main-color);
    padding: 5px 34px 5px 20px;
    transform: rotate(90deg);
    color: white;
}
.pricing .box.middle .label::before{
    content: '';
    position: absolute;
    border-color: transparent white transparent transparent;
    border-style: solid;
    border-width: 20px;
    top: 0;
    right: -1px;
    width: 0;
    height: 0;
    transition: var(--main-transition);
}
.pricing .box:hover .label::before{
    border-color: transparent #f7f7f7 transparent transparent;
}
/* end pricing */
/* start videos */
.videos{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;
    position: relative;
}
.videos .holder{
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    border: 1px solid #ddd;
}
@media (max-width:991px) {
    .videos .holder{
        flex-direction: column;
    }
}
.videos .holder .list{
    min-width: 300px;
    background-color: white;
}
.videos .holder .list .name{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
    align-items: center;
}
.videos .holder .list .name i{
    color: var(--main-color);
}
.videos .holder .list ul li{
    border-top: 1px solid var(--secondary-color);
    padding: 20px;
    transition: var(--main-transition);
}
.videos .holder .list ul li:hover{
    background-color: var(--secondary-color);
    color: var(--main-color);
}
.videos .holder .list ul li span{
    display: block;
    margin-top: 10px;
    color: #777;
}
.videos .holder .preview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #e2e2e2;
}
.videos .holder .preview img{
    max-width: 100%;
}
.videos .holder .preview .info{
    padding: 20px;
    background-color: white;
    margin-top: 10px;
}
/* end videos */
/* start stats */
.stats{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--secondary-color);
    position: relative;
}
.stats h2{
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
}
.stats .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
}
.stats .box{
    background-color: white;
    padding: 20px 0;
    position: relative;
}
.stats .box::before,
.stats .box::after{
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--main-color);
    height: 0px;
    transition: var(--main-transition);
}
.stats .box::before{
    top: 0;
    right: 0;
}
.stats .box::after{
    bottom: 0;
    left: 0;
}
.stats .box:hover::before,
.stats .box:hover::after{
    height: 100%;
}
.stats .box .number{
    font-size: 50px;
    font-weight: bold;
}
.stats .box .text{
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
/* end stats */
/* start discount */
.discount{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.discount .image{
    background-image: url("../Media/bleach\ 1-min.jpg");
    background-size:cover;
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    color: white;
    animation: change-background 10s linear infinite;
}
.discount .image::before{
    content: '';
    background-color:rgb(23 135 224 /90%);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.discount .content{
    text-align: center;
    padding: 0 20px;
}
.discount .content h2{
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .content p{
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}
.discount .content img{
    width: 300px;
    max-width: 100%;
    padding-top:50px;
}
.discount .form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}
@media (max-width:991px) {
    .discount .image,
    .discount .form{
        flex-basis: 100%;
    }
}
.discount .form .input{
    background-color: #f9f9f9;
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    caret-color: var(--main-color);
}
.discount .form textarea.input{
    resize: none;
    height: 200px;
}
.discount .form .input:focus{
    outline: none;
}
.discount .form [type="submit"]{
    display: block;
    width: 100%;
    padding: 15px;
    color: white;
    background-color: var(--main-color);
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
}
.discount .form [type="submit"]:hover{
    background-color: var(--main-color-alt);
}
/* end discount */
/* start footer */
.footer{
    padding: 70px 0 0;
    background-color: #191919;
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
@media (max-width:991px) {
    .footer .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
.footer .box{
    width: 220px;
}
.footer .box h3{
    color: white;
    font-size: 50px;
    margin: -20px 0 0;
}
.footer .box .social{
    display: flex;
}
.footer .box .social li{
    background-color: #313131;
    margin: 0 15px 10px 0;
    padding: 5px 10px;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: var(--main-transition);
}
@media (max-width:991px) {
    .footer .box .social{
        justify-content: center;
        margin: 0 0 10px 0;
    }
}
.footer .box .social li a{
    color: var(--footer-color);
}
.footer .box .social .facebook:hover{
    background-color: #1877f2;
}
.footer .box .social .twitter:hover{
    background-color: #1da1f2;
}
.footer .box .social .youtube:hover{
    background-color: #ff0000;
}
.footer .box .text{
    line-height: 2;
    color: var(--footer-color);
}
.footer .box .links li{
    padding: 15px 0;
    transition: var(--main-transition);
}
.footer .box .links li:not(:last-child){
    border-bottom: 1px solid #444;
}
.footer .box .links li:hover{
    padding-left: 15px;
}
.footer .box .links li:hover a{
    color: white;
}
.footer .box .links li a{
    color: var(--footer-color);
    transition: var(--main-transition);
}
.footer .box .links li a::before{
    font-family: "Font Awesome 5 Free";
    content: '\F101';
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.footer .box .line{
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: 30px;
}
@media (max-width:991px){
    .footer .box .line{
        flex-direction: column;
    }
    .footer .box .line i{
        margin: 0 0 10px 0;
    }
}
.footer .box .line i{
    font-size: 22px;
    color: var(--main-color);
    margin-right: 10px;
}
.footer .box .line .info{
    color: var(--footer-color);
    line-height: 1.6;
}
.footer .box .line .info span{
    display: block;
}
.footer .footer-gallery img{
    width: 100px;
    border: 2px solid white;
    margin-right: 5px;
}
.footer .copyright{
    color: white;
    padding: 25px 0;
    text-align: center;
    margin: 50px 0 0;
    border: 1px solid #444
}
/* end footer */
/* start animation */
@keyframes up-and-down {
    0%,
    100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
    }
    40%,
    60%{
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 60%;
        height: 100%;
    }
}
@keyframes right-move {
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 60%;
        height: 100%;
    }
}
@keyframes moving-arrow {
    100%{
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0%, 40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 150%;
        height: 150%;
    }
}
@keyframes change-background {
    0%, 100% {
        background-image: url(../Media/Black\ clover\ 1-min.jpg);
    }
    50%{
        background-image: url(../Media/bleach\ 3-min.jpg);
    }
}
/* end animation */
